<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
 </head>

<body>

<div class="container">
  <div class="row full-size">
    <div class="col-1">
      <img class="logo" src="assets/logo.png">
    </div>
    <div class="col-11 p-5 row  justify-content-center">
      <div class="box-login bg-grey  shadow mr-5">
        <div class="first col-12">
          <p class="titre pt-5 text-center">
            BOUGER
          </p>
          <p class="titre pb-4 text-center">
            LES DOIGTS :
          </p>
        </div>
        <div class="col-12 pt-3 pb-5 text-center">
          <span class=" range d-block"><label for="customRange3" class="form-label">Pouce</label></span>
          <span class=" range d-block"><input type="range" (change)="changeDoigt1($event)" class="form-range" min="0" max="9" step="1" id="customRange3"></span>
        </div>
        <div class="col-12 pb-5 text-center">
          <span class=" range d-block"><label for="customRange3" class="form-label">Index</label></span>
          <span class=" range d-block"><input type="range" (change)="changeDoigt2($event)" class="form-range" min="0" max="9" step="1" id="customRange3"></span>
        </div>
        <div class="col-12 pb-5 text-center">
          <span class=" range d-block"><label for="customRange3" class="form-label">Majeur</label></span>
          <span class=" range d-block"><input type="range" (change)="changeDoigt3($event)" class="form-range" min="0" max="9" step="1" id="customRange3"></span>
        </div>
        <div class="col-12 pb-5 text-center">
          <span class=" range d-block"><label for="customRange3" class="form-label">Annulaire</label></span>
          <span class=" range d-block"><input type="range" (change)="changeDoigt4($event)" class="form-range" min="0" max="9" step="1" id="customRange3"></span>
        </div>
        <div class="col-12 pb-5 text-center">
          <span class=" range d-block"><label for="customRange3" class="form-label">Auriculaire</label></span>
          <span class=" range d-block"><input type="range" (change)="changeDoigt5($event)" class="form-range" min="0" max="9" step="1" id="customRange3"></span>
        </div>

        <div class="row col-12 justify-content-around">
          <div class="col-5">
            <button type="button" (click)="onClickOuvrirMain()" class="btn btn-primary">Ouvrir la main</button>
          </div>
          <div class="col-5">
            <button type="button" (click)="onClickFermerMain()" class="btn btn-primary">Fermer la main</button>
          </div>
        </div>

        <div class="row col-12 justify-content-around">
          <div class="col-5 pt-3">
            <button type="button" (click)="onClickCheckMain()" class="btn btn-primary">Faire un check</button>
          </div>
        </div>

      </div>
    </div>

  </div><!--row-->
</div> <!--container-->
</body>
</html>
